<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
    .catz {
      background-image: url('/cat.jpg');
      height: 200px;
      width: 300px;
      color: red;
      text-align: center;
      padding-top: 100px;
      border: 1px solid blue;
    }
    </style>
  </head>
  <body>

    <div class="catz" id="barfoo">
      hello world! Today is <%= current_time %>
    </div>

  <script type="text/javascript" src="/index.js"></script>
  </body>
</html>
